@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
      body {
        font-family: "Hanken-Grotesk", sans-serif;
      }
      .attribution {
        font-size: 11px;
        text-align: center;
      }
      .attribution a {
        color: hsl(228, 45%, 44%);
      }

      @media screen and (max-width:375px) {
        main{
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
        }

        .top-section{
            background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 10px;
        }
        .top-section h1 {
            font-size: 0.95rem;
            color:  hsl(241, 100%, 89%);
        }
        .meter {
            background-image: linear-gradient( hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)) ;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding:5px 15px;
            border-radius: 50%;
            height: 120px;
            width: 100px;
            margin-top: 0.5rem;
        }

        .meter h2 {
            margin: 0px;
            color: hsl(0, 0%, 100%);
            font-size: 3rem;
            font-family: "Hanken-Grotesk", Arial, sans-serif;
        }
        .meter p{
            margin: 0px;
            color: hsl(241, 100%, 89%);
            font-size: .90rem;
        }
        .top-section h3 {
            color: hsl(0, 0%, 100%);
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 0px;
            margin-top: 10px;
        }

        .top-section p{
            max-width: 60vw;
            color: hsl(241, 100%, 89%);
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 1.25rem;
        }

        .second-section{
            padding: 10px;
        }

        .result-section{
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }

        .result-section h2 {
            font-size: 1rem;
            color: hsl(224, 30%, 27%);
            margin-bottom: 0px;
        }

        .result-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            justify-items: center;
            padding: 15px;
            border-radius: 10px;

        }

        .result-card h3 {
            font-size: 0.8rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            margin: 0px;
        }

        .result-card strong{
            color: hsl(224, 30%, 27%);
            font-size: 0.9rem;
            font-weight: 700;
        }
        .result-card span{
            color: hsl(166, 100%, 37%);
            font-size: 0.9rem;
            font-weight: 700;
        }
        .result-card.reaction{
            background-color: hsl(0, 100%, 98%);
        }
        .result-card.memory{
            background-color: hsl(39, 100%, 98%);
        }
        .result-card.verbal{
            background-color: hsl(166, 100%, 98%);
        }
        .result-card.visual{
            background-color: hsl(234, 85%, 98%);
        }
        .result-card.reaction h3 {
            color: hsl(0, 100%, 67%);
        }
        .result-card.memory h3 {
            color:  hsl(39, 100%, 56%);
        }
        .result-card.verbal h3 {
            color:  hsl(166, 100%, 37%);
        }
        .result-card.visual h3 {
            color:  hsl(234, 85%, 45%);
        }

        .button{
            padding:1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-submit {
            width: 100%;
            color:  hsl(0, 0%, 100%);
            background-color: hsl(224, 30%, 27%);
            border: none;
            padding: 1rem 5rem;
            border-radius: 25px;
            font-size: 0.9rem;
            font-weight: 700;
        }
      }